/**
 * Plugin front end styles
 *
 * @package Pootle_Cloud
 * @version 1.0.0
 */
iframe#pcld-app {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000000;
	background: #fff;
	width: 700px;
	height: 500px;
	margin: auto;
}

#pootle-cloud-login {
	cursor: pointer;
}

.pcld-logged-in #pootle-cloud-login,
#pootle-cloud-save-row {
	display: none !important;
}

.pcld-logged-in #pootle-cloud-save-row {
	display: block !important;
}

#pcld-template-tabs ul {
	width: 100%;
	height: auto;
	display: flex;
}

#pcld-template-tabs ul li {
	flex: 1 0 110px
}

#pcld-template-tabs ul a {
	padding: 1em;
	text-align: center;
	display:block;
	color: #333;
	background: #eee;
}

#pcld-template-tabs ul .ppb-state-active a {
	background: #fff;
}

#pcld-template-tabs > div {
	clear: both;
	column-count: 3;
	column-gap: 0;
	padding: 1.4em 0.7em;
}


#pootlepb-design-templates.pootlepb-dialog {
	column-count: initial;
	padding: 0;
	margin-top: 2px;
	border: 3px solid #eee
}